<article{{ attributes }}>
  <div{{ content_attributes }}>
    {{ title_prefix }}
    {% if not page %}
      <h2{{ title_attributes }}>
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h2>
    {% endif %}
    {{ title_suffix }}
    {{ content|without('field_media_image') }}
  </div>

</article>
