<span {{ attributes }}>
  {{ content.field_authors }}
    <strong{{ title_attributes }}>
      {% if citation_link %}
        <a href="{{ citation_link }}" target="_blank"><span>"{{ node.title.value }}",</span></a>
      {% else %}
        <span>"{{ node.title.value }}",</span>
      {% endif %}
    </strong>
  {{ content.field_publication_information }}
  {{ title_suffix }}
</span>
