{# Header #}
<header id="gt-header" role="banner">
  {# Logo and site title/s #}
  {% if page.header %}
    {% block header %}
      {{ page.header }}
    {% endblock %}
  {% endif %}
  <a href="#main-navigation" id="page-navigation" class="sr-only">Skip To Keyboard Navigation</a>
  <div class="bg-gold-md-gold position-relative" id="brandhead">

    {# GT Hambuger #}
    <div id="mobile-menu-wrapper" class="d-block d-md-none container">
      <button class="d-block ml-auto navbar-toggler collapsed" type="button" data-toggle="collapse"
              data-target="#Navbar" aria-controls="navbarResponsive" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar mb-1"></span>
        {#        <span class="icon-text"></span>#}
        <span class="sr-only">Toggle navigation</span>
      </button>
    </div>

    {# Top Header #}
    <div class="container">
      <div class="row">
        <div class="col-5 col-sm-5 col-md-4 col-lg-3 bg-tech-md-gold" id="logo-wrapper">
          <div id="gt-logo">
            <a class="d-flex align-items-center" href="https://gatech.edu" title="Georgia Tech">
              <img id="gt-logo-image" src="/themes/contrib/gt_theme/images/gt-logo-oneline-white.svg"
                   alt="{{ 'Georgia Tech'|t }} | {{ site_name }}"/>
            </a>
          </div><!--end gt-logo-->
        </div>

        <div class="col bg-gold-grad">
        </div>
      </div><!--end row -->
    </div><!--end container-->
  </div><!--end gold bg -->
  <!-- begin janus header -->
  <div class="position-relative" id="janushead">
    <div class="container">
      <div class="janus-logo-container">
        <a class="d-flex align-items-center" href="/" title="Janus">
          <img id="janus-logo-image" src="{{ janus_path }}janus_image.png"
               alt="{{ 'JANUS'|t }} | {{ site_name }}"/>
        </a>
      </div>
      <div class="janus-header-text">
        <div class="site-name">JANUS</div>
        <div class="site-subname"><strong>J</strong>oint <strong>A</strong>dva<strong>n</strong>ced Prop<strong>u</strong>lsion In<strong>s</strong>titute<br>
          <em>Model | Mitigate | Standardize | Extend</em>
        </div>
      </div>
    </div>
  </div><!--end janus header -->
  {# Main and Utility Navigation and Search #}
  <div class="container my-2">
    <nav class="navbar navbar-expand-lg">
      <div class="page-navigation main-nav collapse navbar-collapse" id="navbarGTContent">
        {# Main navigation #}
        {% if page.navigation %}
          {% block navigation %}
            <a id="main-navigation"></a>
            {{ page.navigation }}
          {% endblock %}
        {% endif %}
        {# Utility navigation #}
        <div id="utility-search-wrapper" class="ml-auto d-sm-block d-md-flex justify-content-end flex-grow-1">
          {% if page.utility_navigation %}
            {% block utility_navigation %}
              <div class="utility-navigation float-start">
                {{ page.utility_navigation }}
              </div>
            {% endblock %}
          {% endif %}
          {# Search #}
          {% if page.search %}
            {% block search %}
              <!-- Trigger Buttons HTML -->
              <a href="#search-container" class="gt-search" title="search" data-bs-toggle="collapse"
                 data-bs-target="#gt-search"><i class="fas fa-search d-none d-md-block"></i></a>
              <!-- Collapsible Element HTML -->
              <div id="search-container">
                <div id="gt-search" class="collapse absolute">
                  {{ page.search }}
                </div>
              </div>
            {% endblock %}
          {% endif %}
        </div>
      </div>
    </nav>
  </div>
</header>
